@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 11.1111%;
}

#top {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 270px;

}

#title {
    font-size: 45px;
    font-weight: 700;
    color: var(--Very-Dark-Magenta);
    max-width: 350px;
}

#description {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    color: var(--Dark-Grayish-Magenta);
    max-width: 475px;

}

#rated-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 650px;
    height: 250px;
}

.rated {
    background: var(--Light-Grayish-Magenta);
    font-size: 16px;
    font-weight: 500;
    color: var(--Very-Dark-Magenta);
    border-radius: 5px;
    padding: 18px 15px;
    width: 450px;
    .stars-container{
        
    }
    span {
        margin-left: 20px;

    }
}

.rated:first-child {
    margin-left: -90px;
}

.rated:not(:first-child, :last-child) {
    margin-left: -45px;
}

#cards-container {
    display: flex;
    flex-direction: row;
    gap: 30px;


    .cards {
        background: var(--Very-Dark-Magenta);
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 235px;
        border-radius: 10px;
        padding: 30px;
        color: white;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;

        }

        .name-job {
            width: 175px;
            display: flex;
            flex-direction: row;
            font-size: 16px;
            font-weight: 500;
            gap: 15px;
            line-height: 20px;
            justify-content: center;
            align-items: center;

            span {
                color: var(--Soft-Pink);
            }

        }

        p {
            font-size: 16px;
            font-weight: 300;
            margin-top: 30px;
            width: 275px;
            text-align: left;
            line-height: 22px;
        }
    }

    .second {
        margin-top: 20px;
    }

    .third {
        margin-top: 35px;
    }
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:855px) {

    #top {
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            #description {
                width: 265px;
                text-align: center
            }
        }

        #rated-container {
            justify-content: center;
            align-items: center;

            .rated {
                display: flex;
                flex-direction: column;
                max-width: 270px;
                justify-content: center;
                align-items: center;
                margin: 0;
                flex-wrap: wrap;


            }

        }
    }
}